<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-meta">
    <% if (index){ %>
      <%- partial('post/date', {class_name: 'Headtext', date_format: null}) %>
      <br />
    <% } %>
    <%- partial('post/category') %>
  </div>
  <% if (index){ %>
    <div class="article-inner-float Passage RS">
      <%- partial('post/gallery') %>
      <% if (post.link || post.title){ %>
        <header class="article-header">
          <%- partial('post/title', {class_name: 'X1'}) %>
        </header>
      <% } %>
      <div class="article-entry Passage" itemprop="articleBody">
        <% if (post.excerpt && index){ %>
          <%- post.excerpt %>
          <% if (theme.excerpt_link){ %>
            <p>
              <a class="osx" href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
            </p>
          <% } %>
        <% } else { %>
          <%- post.content %>
        <% } %>
    </div>
  <% } %>
  <% if (!index){ %>
    <% if (post.link || post.title){ %>
      <header class="Headline">
        <%- partial('post/title', {class_name: ''}) %>
      </header>
    <% } %>
    <%- partial('post/date', {class_name: 'Headtext', date_format: null}) %>
    <%- partial('post/gallery') %>
    <div class="article-entry PassageArticle Passage" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <%- post.content %>
      <% } %>
    <% } %>
    <footer class="article-footer">
      <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a>
      <%- partial('post/tag') %>
    </footer>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>
